.backArrow {
    cursor: pointer;
    font-size: 2rem;
    margin-bottom: 10px;
    
  }
  
  .linkStyle {
    text-decoration: none;
    color: black;
    padding: 10px;
  }
  
  .pages {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }